body {
      font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.resume-form,
.resume-display {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group label {
    flex-basis: 48%;
    margin-top: 10px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    flex-basis: 48%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(48% - 10px);
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.add_image {
    display: flex;
    align-items: center;
}

.add_image button {
    margin-left: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-card {
    width: calc(33.333% - 10px);
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: auto;
}

.form-group2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.form-group2 p {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-group2 input,
.form-group2 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group2 textarea {
    resize: vertical;
    height: 100px;
}

.form-group2 input:focus,
.form-group2 textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Media Queries */
@media (max-width: 768px) {
    .form-group label,
    .form-group input,
    .form-group textarea {
        flex-basis: 100%;
        width: 100%;
    }

    .image-card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .image-card {
        width: 100%;
    }

    button {
        width: 100%; height }
